body {
	margin: 0px;
  	padding: 0px;
	background-color: #f5f5f5;
	font-family: 'PT Serif', serif;

}

.container {
	display: flex;
}

.left-navbar {
	width: 25%;
	height: 100%;
	position: fixed;
	background-color: #1d4b90;
	color: #fff;
	text-align: center;
}

.main-content {
	margin: 0px 0px 0px 28%;
	width: 72%;
	
}

.content-area {
	box-sizing: border-box;
	box-shadow: 0px 2px 15px #e6e6e6;
	padding: 15px 15px;
	background-color: #fff;
	margin: 0px 0px 25px 0px;
	border-radius: 4px;
	
}
